@import "../../global.scss";

.navbar-section{
    //background-color: $primary;
    color: $text;
    nav{
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 5%;
        border-radius: 0 0 15px 15px;
        box-shadow: 5px 5px 10px rgba(0, 51, 204, 0.1);
        .brand{
            margin-right: auto;
            text-decoration: none;
            color: $text;
        }
        a{
            &:last-child{
                color: $background;
                background-color: $text;
                text-decoration: none;
                margin-left: 40px;
                padding: 8px 16px;
                border: 1px solid $text;
                border-radius: 5px;
                transition: 0.3s;
                font-size: calc(10px + 1vmin);
                &:hover{
                    color: $text;
                    background-color: $background;
                }
            }
        }
    }
}