@import "../../global.scss";

.navbar-section{
    background-color: $primary;
    padding: 0.5%;
    color: $background;
    nav{
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        .brand{
            margin-right: auto;
            text-decoration: none;
            color: $background;
        }
        a{
            &:last-child{
                color: $background;
                text-decoration: none;
                margin-left: 40px;
                padding: 8px 16px;
                border: 1px solid $background;
                border-radius: 5px;
                &:hover{
                    color: $primary;
                    background-color: $background;
                }
            }
        }
    }
}