@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$text: #333;
$textLight: #666;
$white: #fff;
$link: #e6005c;
$background: #f2f2f2;
$primary: #0033cc;
$error: #e60000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    color: $text;
    line-height: 1.5;
    background-color: $background;
}

h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
}

h1{
    font-size: calc(18px + 2vw);
}

h2{
    font-size: calc(14px + 2vw);
    margin: 2.5% 0;  
}

h3{
    font-size: calc(10px + 2vw);
    margin: 2.5% 0;
}

p{
    font-size: calc(max(1.1vw, 16px));
    margin: 2.5% 0;
}

a{
    text-decoration: none;
    margin: 2.5% 0;
}

input, textarea{
    outline: 0;
    border: 0;
    padding: 12px 16px;
    color: $textLight;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

.small-title{
    color: $textLight;
    font-size: calc(max(0.8vw, 14px));;
}

.error{
    color: $error;
}
.loading{
    color: $primary;
}

.dark{
    background-color: $text;
}